.add-new-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbeafe;
  color: #0f172a;
  font-family: 'Bree Serif';
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px 8px 15px;
  margin: 15px 10px 15px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.plus-icon {
  width: 10px;
  margin-right: 8px;
}
